lib/
include/
bin/
downloads/
develop-eggs/
src/
eggs/
parts/
share/
dependencies/
lib64
pip-selfcheck.json
var/
artifacts/

modulebuild/celery_worker_svc/data/

*.db
*.dumps
*.sqlite
.installed.cfg
.mr.developer.cfg

*.log
*.pyc

ini/client.ini
ini/environments.ini

.data/

ini/master.ini

nohup.out
uWSGI.py

cfg/nginx.conf

envs.toml
.idea
